/* 변수 적용 */
:root {
    --yellow: #fae100; /* login border */
    --main-color: #ffffff; /* status-bar, screen-header, alt-screen-header */
    --horizontal-space: 20px; /* screen-header, user-component, alt-screen-header */
    --main-border: 1px solid rgba(0, 0, 0, 0.2); /* friends, find, more */
    --font-color-gray: rgba(0, 0, 0, 0.5); /* find, more */
}