.screen-header {
    position: fixed;
    z-index: 1;
    top: 25px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
    background-color: var(--main-color);
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

.screen-header__icons {
    position: relative;
}