.status-bar {
    position: fixed;
    z-index: 1; /* 요소가 제일 위쪽에 위치하도록 함 */
    top: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    background-color: var(--main-color);
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:first-child span {
    margin-right: 5px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-full {
    margin: 0px 5px;
}